

textarea {
  display: block;
  width: 100%;
  height: 6.25em;
  border: 0.0625em solid gray;
  padding: 0.3125em;
  font-size: 0.875em;
  margin-bottom: 0.625em;
}



body {

  font-family: "Open Sans", sans-serif;
  font-size: 0.8750em;
  background-color: #e8c6c6;
}

header {
  float: left;
  width: 18.75em;
  height: 31.25em;
  border-right: solid #404040 0.6250em;
  border-bottom: solid #404040 0.6250em;
  border-radius: 0 0 0.3750em 0;
  padding: 0.6250em;
  margin-left: 1.2500em;
background-color: white;
  
}

.navigation {
  float: right;
  justify-content: space-between;
  top: 0;
  position: fixed;
  width: 100%;
  background-color: rgb(20, 20, 20);
}
.nav {
  margin: 1.2rem;
  font-size: 1.7rem;
  color: #ff7200;
}

.navbar {
  display: flex;
  margin: 1.5rem;
  font-size: 1.5rem;
  color: #fff;
}

.navbar div {
  margin-left: 1.5rem;
  cursor: pointer;
}

.navbar div:hover {
  color: #20d4e0;
}

.navbar div button {
  padding: 0.3rem;
  padding-right: 0.7rem;
  padding-left: 0.7rem;
  font-size: 1.3rem;
  margin-top: -0.5rem;
  cursor: pointer;
  background-color: #20d4e0;
  border-radius: 0.3rem;
  border: 1px solid #20d4e0;
}

.navbar div button:hover {
  background-color: #ff7200;
  border: 0,0625em solid #ff7200;
  color: #fff;
}

h1 {
  font-family: "Great Vibes", cursive;
  font-size: 3.25em;
  color: #1186da;
  margin: 0.6250em 0;
  text-align: center;
}

ul {
  padding: 0;
}

li {
  list-style: none;
}

nav ul {
  margin-left: 0.9375em;

}
h2{
  color: #4257c1;
}
nav ul li {
  padding: 0.3125em;
  cursor: pointer;
}

nav ul li:hover {
  background-color: #3c41d0;
  color: #fff;
}
#progress{
  list-style: circle;
  
}
main {
  float: left;
  margin-left: 0.6250em;
  flex: auto;
  width:55%;
  background-color:#e8c6c6;
  min-width: none;
  max-width: 55%;
}
p{
  margin-left: 3.125em;
  margin-right: 3.125em;
}
.book-details h2 {
  font-size: 2em;
  text-align: center;
}

.book-details h3 {
  font-size: 1.2500em;
  font-family: 'Times New Roman', Times, serif;
  
}

.book-details img {
  display: block;
  height: 25em;
  width: 25em;
  margin: 0 auto 1.875em auto;
}

form {
  width: 28.125em;
  margin: 0 auto 3.125em auto;
}

textarea {
  display: block;
  width: 100%;
  height: 6.25em;
  border: 0.0625em solid gray;
  padding: 0.3125em;
  font-size: 0.8750em;
  margin-bottom: 0.625em;
}

form button[type="submit"] {
  border: none;
  font-size: 1em;
  font-weight: 600;
  text-transform: uppercase;
  background-color: #4257c1;
  color: #fff;
  padding: 0.4375em 0.625em;
  cursor: pointer;
}

.login {
  border: 1px solid lightgray;
  width: 20rem;
  height: 24rem;
  margin: 3rem;
  margin-top: 4rem;
  margin-right: auto;
  margin-left: auto;
  border-radius: 0.7rem;
  padding: 0.7rem;
}

.login input {
  width: 19.3rem;
  height: 2rem;
  padding: 0.3rem;
  margin-top: 0.5rem;
  font-size: 1.1rem;
  outline: none;
  border-radius: 0.2rem;
  border: none;
}

.login .sub-button {
  width: 10rem;
  margin-top: 1.4rem;
  margin-left: 4.4rem;
  padding: 0.4rem;
  font-size: 1.5rem;
  padding-right: 0.5rem;
  padding-left: 0.5rem;
  cursor: pointer;
  border-radius: 1rem;
  border: none;
  background-color: #20d4e0;
}

.login .sub-button:hover {
  background-color:#ff7200;
  transition: 0.3s;
}

.login p {
  color:rgb(20, 20, 20);
  margin: 0.7rem;
  margin-top: 2rem;
  font-size: 1.3rem;
}

.login p button {
  padding: 0.2rem;
  padding-right: 0.3rem;
  padding-left: 0.3rem;
  font-size: 1rem;
  cursor: pointer;
  background-color: #ff7200;
  border: none;
  border-radius:0.1rem;
  margin-right: 4.375em;
}
.firstX {
color:rgb(20, 20, 20);
margin-top: 0.5rem;
margin-right: 0.5rem;
margin-left: 48rem;
cursor: pointer;
}

.login p button:hover {
  background-color:#20d4e0;
}

.log-in {
  width: 50rem;
  height: 33rem;
  position: fixed;
  margin: 5rem;
  background-color: beige;
  color: #fff;
  top: 0;
  left: 45%;
  transform: translateX(-50%);
  border-radius: 0.7rem;
  display: none;
}

.logIn {
  border: 1px solid lightgray;
  width: 20rem;
  height: 19rem;
  margin: 3rem;
  margin-top: 7rem;
  margin-right: auto;
  margin-left: auto;
  border-radius: 0.7rem;
  padding: 0.7rem;
  
}

.logIn input {
  width: 19.3rem;
  height: 2rem;
  padding: 0.3rem;
  margin-top: 0.5rem;
  font-size: 1.1rem;
  outline: none;
  border-radius: 0.2rem;
  border: none;
}

.logIn .sub-button {
  width: 10rem;
  margin-top: 1.4rem;
  margin-left: 4.4rem;
  padding: 0.4rem;
  font-size: 1.5rem;
  padding-right: 0.5rem;
  padding-left: 0.5rem;
  cursor: pointer;
  border-radius: 1rem;
  border: none;
  background-color: #20d4e0;
}

.logIn .sub-button:hover {
  background-color:#ff7200;
  transition: 0.3s;
}

.logIn p {
  color:rgb(20, 20, 20);
  margin-top: 2rem;
  font-size: 1.3rem;
}

.logIn p button {
  padding: 0.2rem;
  padding-right: 0.3rem;
  
  font-size: 1rem;
  cursor: pointer;
  background-color: #ff7200;
  border: none;
  border-radius:0.1rem;
}

.logIn p button:hover {
  background-color:#20d4e0;
}

.logIn div {
  margin: 1rem;
  margin-left: 3rem;
}

.logIn a {
  margin: 0.5rem;
}
.secondX {
margin-top: -4.3rem;
margin-bottom: 4.3rem;
margin-left: 51.5rem;
cursor: pointer;
}
#sign-up{
position:relative;
float: right;
background-color: rgb(230, 214, 214);
margin-top: 0.625em;
}
#progress{
  text-align: justify;
  font-family: 'Courier New', Courier, monospace;
  font-style: italic;
}




/*.allImages {
  top: 0;
  left: 10%;
  display: flex;
  height: 50px;
  border: 1px solid lightgray;
  border-radius: 0.3rem;
}

.allImages div {
  width: 50px;
  margin: 10%;
}

.allImages div img {
  width: 200px;
  height: 200px;
}
.books{
  font-family: 'Times New Roman', Times, serif;
  align-content: center;
  justify-content: center;
  
}
